* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    font-family: sans-serif
}

#header ul li {
    list-style-type: none;
}

a {
    font-weight: bold;
    text-decoration: none;
    color:black
}

.bloqueImg {
    width: 30%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: nostretch;
}

.logo { 
    border-radius: 50%;
    width: 180px;
}

.main {
    background-color: rgb(243, 152, 187);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: palegoldenrod;
        flex-direction: column;
    }
       
.padre-peliculas-populares {
    display: flex ;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color:  chocolate;
    }

    .peli {
        display: flex;
        width: 10%;
        height: 300px ;
        align-items: center;
        justify-content: center;
        padding: 30px;
        flex-direction: column;
        background-color:rgb(167, 17, 74);
    }
   

.subtitulo {
    margin: 0;
    text-align: left;
    width: 100%;

}

img {
    align-items: center;
    height: 200px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 15px;
}
    
footer {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    background-color: lightblue;
    font-family: sans-serif
}

footer img {
    margin-right: 10px;
    margin: 10px;
    border-radius: 50%;
    width: 180px;
}

footer .integrantes ul {
    display: flex;
    flex-direction: row;
    margin: 5px;
    list-style: none;
}

footer .integrantes li a {
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 5px;
    font-size: 20px
}
