.generos {
    margin: 10px;
}
.section-generos-peliculas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid;
    padding: 20px;
    margin-bottom: 30px;
}

.section-generos-series {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    border: solid;
    padding: 20px;

}

article {
    height: 20px;
    width: 200px;
    border: solid;
    background-color: rgb(132, 132, 196);
    padding: 20px;
    margin: 20px;
    text-align: center;
}

div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

