.main{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding: 10px 20px;
}
img {
    width: 350px;
    height: 350px;
}
h2 {
    justify-content:left;
    flex-direction: center;
    

}
