* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: white;
}

ul li {
    list-style-type: none;
}

.logo { 
    border-radius: 50%;
    width: 180px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color:black
}

.bloqueImg {
    width: 30%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: nostretch;
}

/*Empieza CSS de Peliculas populares*/
.main {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    background-color: black
}

.section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        flex-direction: column;
        background-color: #f7c4a2
       
    }
       
.padre-peliculas-populares {
    display: flex ;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color:  #f7c4a2;
    }

    .peli {
        display: flex;
        width: 16%;
        height: 300px ;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        flex-direction: column;
        background-color: #96582e6c;
    }
   

.subtitulo {
    margin: 0;
    text-align: left;
    width: 100%;
}

.imgpeli {
    align-items: center;
    height: 200px;
    justify-content: flex-start;
}

h2 {
    font-size: 15px;
    justify-content: flex-start;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

p {
    font-size: 13px;
    text-align: center;
}

/* Termina CSS de peliculas populares*/

/*Empieza CSS de series populares*/
    
.main2 {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.section2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        flex-direction: column;
        background-color: #f7c4a2
       
    }
       
.padre-series-populares {
    display: flex ;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color:  #f7c4a2;
    }

    .series {
        display: flex;
        width: 16%;
        height: 300px ;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        flex-direction: column;
        background-color: #96582e6c;
        
    }
   

.subtitulo {
    margin: 0;
    text-align: left;
    width: 100%;

}

.imgserie {
    align-items: center;
    height: 200px;
    justify-content: flex-start;
}

h3 {
    font-size: 15px;
    justify-content: flex-start;
}

p {
    font-size: 13px;
    text-align: center;
}

/* Termina CSS de series populares*/

/*Empieza CSS de series mas vistas*/
    
.main3 {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.section3 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        flex-direction: column;
        background-color: #f7c4a2
       
    }
       
.padre-mas-visto-series {
    display: flex ;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color:  #f7c4a2;
    }

    .mas-vistas {
        display: flex;
        width: 16%;
        height: 300px ;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        flex-direction: column;
        background-color: #96582e6c;
        
    }
   

.subtitulo {
    margin: 0;
    text-align: left;
    width: 100%;

}

.img-mas-vistas {
    align-items: center;
    height: 200px;
    justify-content: flex-start;
}

h3 {
    font-size: 15px;
    justify-content: flex-start;
}

p {
    font-size: 13px;
    text-align: center;
}

/* Termina CSS de series mas vistas*/

/* Empieza CSS de footer */

footer {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    background-color: white;
}

footer img {
    margin-right: 10px;
    margin: 10px;
    border-radius: 50%;
    width: 180px;
}

footer .integrantes ul {
    display: flex;
    flex-direction: row;
    margin: 5px;
    list-style: none;
}

footer .integrantes li a {
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 5px;
    font-size: 20px
}
