* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* CSS encabezado */

#header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: white;
}

.logo { 
    border-radius: 50%;
    width: 180px;
}

/* Fin CSS encabezado */

h3 {
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
}

h1 {
    font-style: italic;
}

main {
    background-color: #f7c4a2;
}

.main {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    background-color: black
}

.imgfavs {
    align-items: center;
    height: 200px;
    justify-content: flex-start;
}

.mis-favoritos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color:  #f7c4a2;
}

    favscuadrado {
    display: flex;
    width: 16%;
    height: 300px ;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column;
    background-color: #96582e6c;
    }

.section {
    display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        flex-direction: column;
        background-color: #f7c4a2;
        border: solid 5px black;

}

/* CSS footer */

footer {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    background-color:white;
}

footer img {
    margin-right: 10px;
    margin: 10px;
    border-radius: 50%;
    width: 180px;
}

footer .integrantes ul {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

footer .integrantes li a {
    color: black;
    text-transform: uppercase;
    padding: 5px;
    font-size: 20px
}

a {
    font-weight: bold;
    text-decoration: none;
    color:black
}