* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#header {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.logo { 
    border-radius: 50%;
    width: 180px;
}


ul li {
    list-style: none;
}


footer {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    background-color:white;
}

footer img {
    margin-right: 10px;
    margin: 10px;
    border-radius: 50%;
    width: 180px;
}

footer .integrantes ul {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

footer .integrantes li a {
    color: black;
    text-transform: uppercase;
    padding: 5px;
    font-size: 20px
}

a {
    font-weight: bold;
    text-decoration: none;
    color:black
}

/* Empieza CSS de Resultados de busqueda */

.main-resultados {
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: #f7c4a2;
    justify-content: space-between;
    align-items: center;
}

.padre-de-peli-resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articulo-peli-resultados {
    display: flex;
    background-color: #96582e6c;
    padding: 10px;
    border: solid 4px black;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

}

.imgpeli-resultados {
    align-items: center;
    height: 200px;
    justify-content: flex-start;
}

.Titulo-de-peli-resultados {
    font-size: 20px;
    font-weight: bold;
}

.Fecha-estreno-resultados {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.637);
    font-weight:lighter;
}

.sinopsis-resultados {
    font-size: 15px;
    text-align: justify;
}

.padre-info-resultados {
display: flex;
padding: 20px;
flex-direction: column;
}

/* Termina CSS de Resultados de busqueda */